@import '../../scss/vars';

.app-header {
    $header-height: 15rem;
    $header-font-size: 2.6rem;
    text-align: center;

    background: url(../../assets/identigraf-logo.svg) no-repeat 50% / contain,
        radial-gradient(closest-side at center, #ffffff 0%, #91a3bb 25%, #224678 50%, #122239 75%, #000100 100%);
    height: $header-height;
    flex: 0 0 $header-height;
    padding: 0;

    h1 {
        font-weight: bold;
        color: $color-highlight-on-primary;
        text-shadow: 0 1px 1px #000;
        margin: 0;
        padding: 0;
        visibility: hidden;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    @media (max-width: 767px) {
        h1 {
            z-index: 1000;
            position: absolute;
            left: $block-inner-padding;
            font-size: $header-font-size;
            line-height: 1;
            top: (4rem - $header-font-size) / 2;
            visibility: visible;
        }

        & {
            padding: 0;
            height: 0;
        }
    }
}
