@import '../../scss/vars';

.app-header {
    $header-height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url(../../assets/identigraf-logo.svg#u) no-repeat 50% / contain,
        radial-gradient(closest-side at center, #ffffff 0%, #91a3bb 25%, #224678 50%, #122239 75%, #000100 100%);
    height: $header-height;
    flex: 0 0 $header-height;

    h1 {
        font-weight: bold;
        color: $color-highlight-on-primary;
        text-shadow: 0 1px 1px #000;
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    @media (max-width: 767px) {
        h1 {
            z-index: 1500;
            position: absolute;
            left: $block-inner-padding;
            font-size: $font-size-base;
            line-height: 1;
            top: (3rem - $font-size-base) * 0.5;
        }

        & {
            padding: 0;
            height: 0;
            flex-basis: 0;
        }
    }
}
