<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8"/>
    <title>IDentigraF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Система розпізнавання облич для захисту національної безпеки України, миру, безпеки людства та міжнародного правопорядку" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="IDentigraF" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="IDentigraF" />
    <meta property="og:title" content="IDentigraF" />
    <meta property="og:description" content="Система розпізнавання облич для захисту національної безпеки України, миру, безпеки людства та міжнародного правопорядку" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://neuro.identigraf.center/" />
    <meta property="og:image" content="https://neuro.identigraf.center<%= require('./assets/identigraf-fb.png') %>" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1719">
    <meta property="og:image:height" content="900">
    <meta property="og:image:alt" content="Логотип" />
    <meta property="og:locale" content="uk_UA" />
    <meta property="og:site_name" content="IDentigraF" />
    <meta property="og:video" content="https://cdn.myrotvorets.center/m/myrotvorets.mp4" />
    <link rel="icon" href="<%= require('./assets/icon32.png') %>" sizes="32x32" />
    <link rel="icon" href="<%= require('./assets/icon192.png') %>" sizes="192x192" />
    <link rel="apple-touch-icon" href="<%= require('./assets/icon180.png') %>" />
    <meta name="msapplication-TileImage" content="<%= require('./assets/icon270.png') %>" />
    <meta name="theme-color" content="#000100" />
    <link rel="manifest" href="<%= require('./assets/manifest.json') %>" />
</head>
<body class="d-flex flex-column">
<style>
    *, ::after, ::before { box-sizing: border-box; }
    html, body { margin: 0; padding: 0; width: 100%; height: 100vh; font: 1.25rem/1.5 system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; }
    body { background: #000; display: flex; flex-direction: column; color: #FFF; }
    a { color: #FFD500; }
    .ldr { animation: rotate 4s linear infinite; }
    @keyframes rotate { 0% { transform: rotate(0deg); } 50%  { transform: rotate(180deg); } 100% { transform: rotate(359deg); } }
</style>
<noscript>
    <div style="display: flex; flex: 1; height: 100%;">
        <div style="border-color: #B50000; border-radius: 5px; margin: 1rem auto; width: 80%; background: #A80000; color: #FFFF52; padding: 1.5rem; text-align: center; font: bold 2rem/1.5 Arial, sans-serif;">
            Для нормальної роботи сайту потрібно JavaScript.
        </div>
    </div>
</noscript>

<div style="display: none; flex: 1; height: 100%;" id="not-supported">
    <div style="border-color: #B50000; border-radius: 5px; margin: 1rem auto; width: 80%; background: #A80000; color: #FFFF52; padding: 1.5rem; text-align: center; font: bold 2rem/1.5 Arial, sans-serif;">
        На жаль, ваш браузер не підтримується. Спробуйте оновити його та повторіть спробу.
    </div>
</div>

<div style="height: 100%; display: none; flex-direction: column; justify-content: center; text-align: center" id="ldr">
    <img src="<%= require('./assets/identigraf-logo.svg') %>" class="ldr" alt="" style="display: block; margin: 0 auto; width: 100%; max-width: 70vw; max-height: 70vh;" />
    <p>Завантаження web-додатка…</p>
    <button type="button" id="reset" style="margin: 0 auto; background: transparent; text-decoration: underline; color: #FFD500; border: 0; cursor: pointer; font-size: 1rem">Очистити кеш</button>
</div>

<footer style="text-align: center; font-size: .9rem">
    <p>Copyright &copy; 2023 <a href="https://myrotvorets.center/">Myrotvorets Research Center</a></p>
    <p>
        <span id="version"><%= version %></span>
        &nbsp;<a href="mailto:support@myrotvorets.center">Щось не працює?</a>
    </p>
</footer>
<script nomodule="nomodule">var x=document.getElementById('not-supported');if(x)x.style.display='flex';</script>
<script type="module">
const el = document.getElementById('ldr');
if (el) {
    el.style.display = 'flex';
}

const r = document.getElementById('reset');
if (r) {
    r.addEventListener('click', () => {
        if (self.caches) {
            self.caches
                .keys()
                .then((keyList) => Promise.all(keyList.map((key) => self.caches.delete(key))))
                .then(() => ('serviceWorker' in navigator ? navigator.serviceWorker.getRegistration() : null))
                .then((reg) => reg && reg.unregister())
                .then(() => self.location.reload())
                .catch((e) => {
                    console.error(e);
                    self.location.reload();
                });
        } else {
            self.location.reload();
        }
    });
}
</script>
</body>
</html>
