.block {
	@extend %block;
	box-shadow: .5rem .5rem .5rem #666;

	@media (min-width: 320px) {
		box-shadow: .5rem .5rem .5rem #666;
		margin-right: .75rem;
	}
}

.block--centered {
	width: auto;
	margin: auto;
}

.block__header {
	@extend %block-header;
}

.block__footer {
	@extend %block-footer;
}
