@import "../../node_modules/bootstrap/scss/functions";

$variable-prefix: "";
$primary: #0056B3;
$navbar-dark-active-color: #FFD500;
$navbar-dark-color: #FFF;
$navbar-dark-hover-color: #FFFF52;
$navbar-color: #FFD500;
$navbar-toggler-border-color: #FFD500;
$nav-link-font-weight: bold;
$dropdown-dark-color: #FFF;
$dropdown-dark-bg: #000;
$dropdown-dark-link-color: #FFF;
$dropdown-dark-link-active-color: #FFD500;
$dropdown-dark-link-hover-color: #000;
$dropdown-dark-link-hover-bg: #FFFF52;
$font-size-base: 1.2rem;
$spacer: $font-size-base;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
